@import "variables";
@import "mixins";

.filters {
    width: 10rem;
    height: 3rem;
    /* margin: auto; */
    background-color: $darkVariant;
    
    border-top-left-radius: $curve;
    border-top-right-radius: $curve;
    display: flex;
    cursor: pointer;
    position: fixed;
    
    bottom: 0;
    left: 50%;
    margin-left: -5rem;
    /* transform: translateX(-50%); */
    /* justify-self: center; */
    z-index: 2;
    transition: all 0.5s;
}

.filters h3 {
    margin: auto;
    font-weight: 500;
    color: $light;
}



.filtersBox {
    position: fixed;
    bottom: -10rem;
    width: 100vw;
    background-color: $lightVariant;
    height: 10rem;
    transition: all 0.5s;
}

.filtersBox span {
    display: inline-block;
    padding: 2rem;
    font-size: 1.1rem;
    color: $darkVariant;
    padding-right: 0.25rem;
}

.activated {
    transition: all 0.5s;
    transform: translateY(-10rem);
}

.select {
    font-size: 1.1rem;
    color: $darkVariant;
    background-color: transparent;
    border: none;
    outline: none;
}

.select option {
    background-color: $lightVariant;
    font-size: 1.1rem;
}