@import "variables";
@import "mixins";

.message {
    width:auto;
    height: 3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $lightVariant;
    border-radius: $curve;
    display: flex;
    align-items: center;
    animation: on;
    animation-duration: 3.2s;
}

@keyframes on {
    from {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.message span {
    margin: 0rem 1rem;
    color: $dark;
}

.message i {
    margin-left: 1rem;
    color: $darkVariant;
}