@import "variables";
@import "mixins";

.searchBox {
    width: 100%;
    min-height: 100vh;
    padding: 0rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    transition: all 1s;
}

.searchBoxMin {
    width: 100%;
    margin-top: 7rem;
    min-height: 5rem;
    padding: 0rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    transition: all 1s;
}

.search {
    font-size: 5rem;
    height: 5rem;
    width: 100%;
    margin: auto;
    /* margin-top: 6rem; */
    border: none;
    border-bottom: 5px solid $dark;
    outline: none;
}
