@import "../../variables";
@import "../../mixins";

.detailContainer {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.image {
  border-radius: $curve;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.detailContainer .name {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
}

.detailContainer .price {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
  font-size: 2rem;
}

.detailContainer .amount {
  background-color: transparent;
}
