@import "../../variables";
@import "../../mixins";

.home {
  display: flex;
  min-height: 100vh;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/HerreraCesar/basics-store/main/src/assets/backgrounds/3.jpg);
  background-size: cover;
  background-position: center;
}

.container h1 {
  text-align: center;
  font-size: 1.4rem;
  color: $darkVariant;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: -2.5rem;
}

.home div {
  margin: 4rem 2rem 0rem 2rem;
  width: 90%;
  height: 30rem;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@keyframes move {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}

.home div span {
  font-size: 4rem;
  font-weight: 700;
  animation: move 4s infinite;
  color: transparent;
  position: relative;
  background-image: url(https://raw.githubusercontent.com/HerreraCesar/basics-store/main/src/assets/backgrounds/7.jpg);
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
}

.home div p {
  font-size: 1.4rem;
  color: $darkVariant;
  font-weight: 500;
  margin-top: 1rem;
}
