@import "../../variables";
@import "../../mixins";

.NavBar {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100vw;
  height: 4rem;
  align-items: center;
  background-color: $light;
  top: 0;
  z-index: 2;
}

.links a {
  text-decoration: none;
  color: $darkVariant;
  margin: 0 1rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.links a:hover {
  transition: all 0.5s;
  color: $darkVariant;
  text-shadow: 1px 1px 1px $focusVariant;
}

.logo a {
  font-size: 1.4rem;
  width: 15rem;
  margin: 0rem 2rem;
  font-weight: 700;
  color: $darkVariant;
}

.logo:hover a {
  transition: all 0.5s;
  color: $darkVariant;
  text-shadow: 1px 1px 1px $focusVariant;
}

.links .active {
  transition: all 0.5s;
  padding: 0.2rem 0.5rem;
  background-color: $focusVariant;
}

.offers {
  color: $dark;
  font-weight: 600;
}

.searchWidget {
  margin: auto;
  position: absolute;
  right: 5rem;
  font-size: 0.8rem;
}

.searchWidget i {
  font-size: 1.4rem;
  color: $darkVariant;
  cursor: pointer;
  padding: 0.5rem;
}

.searchWidget:hover i {
  transition: all 0.5s;
  text-shadow: 1px 1px 1px $focusVariant;
}
