@import "../../variables";
@import "../../mixins";

.searchBox {
  width: 100%;
  min-height: 100vh;
  padding: 0rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  transition: all 1s;
}

.searchBoxMin {
  width: 100%;
  margin-top: 7rem;
  min-height: 5rem;
  padding: 0rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  transition: all 1s;
}

.search {
  font-size: 5rem;
  font-weight: 500;
  height: 6rem;
  width: 100%;
  margin: auto;
  border: none;
  outline: none;
  padding-bottom: 1rem;
}

.searchBox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 200%;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
      to left,
      $darkVariant 0%,
      $light 25%,
      $darkVariant 50%,
      $light 75%,
      $darkVariant 100%
    )
    1;
  animation: rotation 2s linear infinite;
  transition: all 1s;
}

.searchBoxMin::before {
  content: "";
  position: absolute;
  left: 0;
  top: 31%;
  width: 200%;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
      to left,
      $darkVariant 0%,
      $light 25%,
      $darkVariant 50%,
      $light 75%,
      $darkVariant 100%
    )
    1;
  animation: rotation 2s linear infinite;
  transition: all 1s;
}

@keyframes rotation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.search::placeholder {
  color: $lightVariant;
}

.no-result {
  padding: 6rem 2rem;
  color: $darkVariant;
  font-weight: 500;
  font-size: 1.4rem;
  min-height: 51vh;
}
