@import "../variables";
@import "../mixins";

.home {
    display: flex;
    min-height: 100vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.collinsdictionary.com/images/full/supermarket_406913140_1000.jpg);
    background-size: cover;
}
  
.home h1 {
    margin: auto;
    font-size: 2rem;
    color: $darkVariant;
}

.home div {
    margin: 0rem 2rem ;
    width: 25rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: $curve;
    backdrop-filter: blur(5px);
    display: flex;
}

.home div span {
    color: $darkVariant;
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
}