$focus: rgb(255, 141, 34);
$focusVariant: rgb(196, 255, 34);
$light: hsl(0, 0%, 100%);
$lightVariant: hsl(0, 0%, 92%);
$dark: hsl(0, 0%, 0%);
$darkVariant: hsla(0, 0%, 30%);
$curve: 1rem;
$blur: 10px;