* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavBar {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100vw;
  height: 4rem;
  justify-content: space-between;
  align-items: center
}

.links {
  margin-right: 2rem;
}

.links a {
  text-decoration: none;
  color: grey;
  margin: 0 1rem 0 1rem;
}

.links a:hover {
  color: red;
}

.logo {
  margin-left: 2rem;
  font-weight: 600;
  color: grey;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

.title {
  margin: auto;
}

